<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Profile</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/icon.css" />
  <link rel="stylesheet" href="/profile/main.css" />

  <% include partials/navbar %>

  <div style="width: 100vw; height: 50px;"></div>

</head>
<body>

  <div class="pic-wrapper">
    <img src="/tmp/<%= userInfo.profile_pic %>" class="main-img">
  </div>

  <h1><%= userInfo.name %>'s Profile</h1>

  <div class="container info">
    <form id="form" class="form-group" action="/api/profile" enctype="multipart/form-data" method="post">
      <label>Display Name</label>
      <input class="form-control" type="text" value="<%= userInfo.name %>" placeholder="Display name"/>
      <label>Username</label>
      <input class="form-control" type="text" value="<%= userInfo.username %>" placeholder="Username"/>
      <label>Email</label>
      <input class="form-control" type="text" value="<%= userInfo.email %>" placeholder="Email"/>
      <label>Upload Profile Picture</label>
      <input class="form-control" type="file" name="picture" />

      <button class="btn btn-success">Update</button>
    </form>

  </div>

  <%= userInfo %>


</body>
<footer>
  <% include partials/scripts %>
  <script src="/profile/main.js"></script>
</footer>
</html>
